@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <form method="post" action="/account/login">
        <input type="text" name="username" placeholder="username" />
        <br />
        <input type="password" name="password" placeholder="password" />
        <br />
        <button type="submit">Login</button>
    </form>
</div>